Source: com.github.abanoub-hanna.LinuxPOS
Section: x11
Priority: extra
Maintainer: Abanoub Hanna <abanoubhannaa73@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 3.9.3

Package: com.github.abanoub-hanna.LinuxPOS
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Linux POS
 point-of-sale system written in Vala and GTK using CMake build system.
